header, section, footer{
    padding: 5px;
}
.titulo-pagina{
    font-size: 5em;
}
.titulo-seccion{
    font-size: 3em;
    padding-top: 20px;
    padding-bottom: 20px;
}
.titulo-articulo1{
    font-size: 2;
    text-align: left;
    padding-left: 20em;
}
.titulo-articulo2{
 font-size: 2;
    text-align: right;
    padding-right: 20em;
    position:relative;
}
.tabla{
    border: blue 3px solid;
}
.tabla td{
    border: blue 2px solid;
}
.tabla th{
    border: blue 2px solid;
    padding-left: 10px;
    padding-right: 10px;
} 
footer{
     color:magenta;
     background-color: khaki;
}