<h2>Propiedades input (vienen del comp. padre)</h2>
<p>Valores X y Y: {{ valorX  }}, {{ valorY  }}, {{ valorZ }} </p>
<!-- Estructural: existe o no en el DOM-->
<p *ngIf="srvActivo === 'true'">Parrafo EXISTE por srv activado</p>
<!-- Los [ ] son otra manera de hacer el property binding -->
<!-- hidden: visual, muestra o no pero siempre existe en el DOM -->
<p [hidden]="srvActivo === 'false'">Parrafo se muestra por srv activado</p>
<input type="checkbox"  [checked]="srvActivo === 'true'"/>
<label>activado</label>
