﻿@{
    ViewData["Title"] = "Practica Usuarios";
}

<div class="text-center">
    <h1 class="display-4">Practica Usuarios</h1>
    <a href="./ejemploWeaFor_AJAX.html">Cliente AJAX WeatherForecast</a><br>
    <a href="./index.html">Pagina</a>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
